{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% get_static_prefix %}plugins/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/login.css">
    {% block css %}

    {% endblock css %}
</head>
<body style="position: relative;" id="top">
{% block login_reg %}

{% endblock %}

<footer class="blog-footer">
    <p>
        <a href="http://getbootstrap.com">关于博客园</a>
        <a href="javascript:;">联系我们</a>
        <span>©2004-2018</span>
        <a href="https://www.cnblogs.com/">博客园</a>
        保留所有权利
        <a href="javascript:;">沪ICP备09004260号</a>
    </p>
    <div>
        <a href="https://ss.knet.cn/verifyseal.dll?sn=e131108110100433392itm000000&amp;ct=df&amp;a=1&amp;pa=0.25787803245785335"
           rel="nofollow" target="_blank">
            <img id="cnnic_img" src="/static/img/cnnic.png" alt="" width="64" height="23">
        </a>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502001144"
           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                src="/static/img/ghs.png" alt=""><span
                style="float:left;height:20px;line-height:20px;margin: 0 5px 0 5px; color:#939393;">沪公网安备 31011502001144号</span>
        </a>
    </div>


</footer>
<a href="#top" id="footer-style">Back to top</a>

<script src="{% get_static_prefix %}js/jQuery.js"></script>
<script src="{% get_static_prefix %}plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
{% block js %}

{% endblock js %}
</body>
</html>